* {
    box-sizing: border-box;
}

body{
    background-color: #303030;
    color: #F5F5F5;
    
}

.container {
    

}

.info > h2, h4, p, small{
    text-align: center;
}

h4 {
    color: #16e0bd;
}

.info > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

a {
    text-decoration: none;
    color: #F5F5F5;
    display: flex;
    padding: 1em;
    
}

.email {
    background-color: #ffffff;
}